/* @media only screen and (min-width : 320px) */

/* RESET */
body {
    margin-top: 1.5rem;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
    background-color: #fcf8e8;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #223E53;
    text-align: center;
}

/* LOGO */
.logo {
    font-family: 'Sacramento', cursive;
    font-size: 2.5rem;
}

/* MENU */
.fa-bars::before {
    font-size: 3rem;
    padding-left: 2rem;
}

.dropbtn {
    text-decoration: none;
    color: inherit;
}

/* DROPDOWN MENU */
.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
  }

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    z-index: 1;
    overflow: hidden;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #f0e8c7;;
}

.dropdown-content a {
    display: flex;
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding: .75rem .5rem;
}

.dropdown-content a:hover {
    font-size: 110%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* MAIN */
main  {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.main-heading {
    font-size: 1rem;
    text-align: center;
    line-height: 1.4em;
    color:#223E53;
    padding-top: 2rem;
    padding-bottom: 2rem;
    word-spacing: 1.25em;
    font-weight: lighter;
}

.food-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.food-item > img {
    width: 100%;
    align-self: center;
    border-radius: 1rem;
}

.food-item > h1 {
    text-align: center;
    font-family: 'Sacramento', cursive;
    color: gold;
    font-size: 3rem;
}

.food-item > h1:hover {
    color: #527600;
    font-size: 350%;
}

footer {
    background-color: #fbefbf;
    margin: 0;
    padding: 0;
}

footer > p {
    font-size: .8rem;
    color: #30475e;
    text-align: center;
}

@media only screen and (min-width : 480px) {
    .logo {
        font-size: 4rem;
    }
}

@media only screen and (min-width : 768px) {
    .img-wrapper {
        display: flex;
        flex-direction: row;
    }

    .food-item {
        padding: 1rem;
    }

    .main-heading {
        font-size: 1.5rem; 
    }    

    /* SHOW FULL MENU WITHOUT DROPDOWN */
    .fa-bars::before {
        /* font-size: 3rem;
        padding-left: 2rem; */
        display: none;
    }
    
    .dropbtn {
        /* text-decoration: none;
        color: inherit; */
        /* display: none; */
    }

    .dropdown:hover {
        /* position: relative;
        display: flex;
        flex-direction: column; */
        /* display: flex; */
        /* position: static; */
        /* display: flex;
        flex-direction: row;
        color: lawngreen; */
      }
    
    .dropdown-content {
        /* display: none; */
        
        /* position: absolute;
        min-width: 100%;
        z-index: 1;
        overflow: hidden;
        border-radius: 1rem;
        padding: 0.5rem;
        background-color: #f0e8c7;; */
        
    }
    
    .dropdown-content  {
        display: flex;
        display: inherit;
        position: static;
        text-decoration: none;
        color: inherit;
        font-size: 1rem;
        font-family: 'Fira Sans', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        padding: .75rem .5rem;
        color: inherit;
        background-color: transparent;
        margin-top: 1.25rem;
    }
    
    .dropdown-content a:hover {
        font-size: 110%;
        color: rgb(91, 91, 95);
        
    }
    
    .dropdown:hover .dropdown-content {
        display: flex;
    }
}


@media only screen and (min-width : 992px) {
    .main-heading {
        text-align: left;
        margin-right: 30%;
        margin-left: 10%;
    }
    .dropdown-content a {
        font-size: 1.25rem;
        /* margin-top: 0; */
    }
}

@media only screen and (min-width : 1200px) {
    .logo {
        font-size: 6rem;
    }

    .nav-item {
        margin-top: 3.5rem;
        font-size: 1.1rem;
    }
    .dropdown-content a {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}
